/*@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
*/

body
{
    background: #FFFFFF;
	font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
	color:#000000;
	margin: 0 0 10px 0;
	padding: 0;
}
#wrapper
{
width: 960px;
margin: 0px auto 0px; 
text-align: left; 
background: #FFFFFF;
overflow: auto;
}

#title
{
    width: 960px;
    padding-bottom: 0px;
}
#title img
{
    width:270px;
    float: left;
    padding-bottom: 0px;
    /*left: 0;
	position: absolute;
    overflow: hidden;*/
}

#title h1
{
    font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    line-height: 30px; 
}
#title h2
{
   font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
   text-align: center;
   font-weight: lighter;
   font-style: italic;
   color:#777;
   line-height: 30px; 
}

#index #indexLink,
#doc   #docLink,
#pub   #pubLink,
#contrib #contribLink
{
background-color: #FFFFFF;
color: #000000;
}


#mainNav {
float: left;
width: 260px;
padding-left: 0;
margin-left: 0;
zoom: 1;
}

#mainNav ul {
list-style: none;
margin: 0;
padding: 0;
}


#mainNav li a{
border-left:5.5px solid #FFFFFF;
display: block;
width: 238px;
line-height: 16px;
zoom: 1;
/*border-bottom: 1px solid #C0C0C0;*/
background-color: #000000;
text-decoration: none;
color: #FFFFFF;
padding: 5px 10px;
height: 20px;
}
#mainNav li a:hover{
background-color: #FFFFFF;
color: #000000;
}
#down
{
    padding: 0px 0px 0px 0px;
    width: 260px;
    background: #FAFAFF;
}

#down ul
{
    
    width: 260px;
    padding: 25px 0px 5px 5px;
}
#down li
{   background-color: #000000;

    float: left;
    width:86px;
    height:46px;
    padding: 5px 0px 5px 0px;
    
}
#down li a
{
    border-right:0px;
    border-left:0px;
    height:auto;
    width:auto;
    text-align:center;
    font-size: 10pt;
    padding: 5px 5px 5px 5px;
}

footer
{
    width: 260px;
    padding: 50px 0px 0px 5px;
}

